src/flows/Lease_Term_Update-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>myDecision</name>
        <label>Primary Decision</label>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Lease term calculation update</label>
        </rules>
        <rules>
            <name>myRule_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_2_A1</targetReference>
            </connector>
            <label>Clear Lease term calc</label>
        </rules>
    </decisions>
    <description>Updates Lease Term calc field</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(OR(ISNEW(), ISCHANGED([Service_Catalog_Request_Form__c].Lease_Term__c)),
OR(ISPICKVAL([Service_Catalog_Request_Form__c].Lease_Term__c, &quot;6&quot;),
      ISPICKVAL([Service_Catalog_Request_Form__c].Lease_Term__c, &quot;12&quot;),
      ISPICKVAL([Service_Catalog_Request_Form__c].Lease_Term__c, &quot;36&quot;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(OR(ISNEW(), ISCHANGED({!myVariable_current.Lease_Term__c})),
OR(ISPICKVAL({!myVariable_current.Lease_Term__c}, &quot;6&quot;),
      ISPICKVAL({!myVariable_current.Lease_Term__c}, &quot;12&quot;),
      ISPICKVAL({!myVariable_current.Lease_Term__c}, &quot;36&quot;)))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISCHANGED([Service_Catalog_Request_Form__c].Lease_Term__c), OR(ISPICKVAL([Service_Catalog_Request_Form__c].Lease_Term__c, &quot;Custom&quot;), ISPICKVAL([Service_Catalog_Request_Form__c].Lease_Term__c, &quot;Open Ended&quot;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_2</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISCHANGED({!myVariable_current.Lease_Term__c}), OR(ISPICKVAL({!myVariable_current.Lease_Term__c}, &quot;Custom&quot;), ISPICKVAL({!myVariable_current.Lease_Term__c}, &quot;Open Ended&quot;)))</expression>
    </formulas>
    <interviewLabel>Lease_Term_Update-3_Service_Catalog_Request_Form__c</interviewLabel>
    <label>Lease Term Update 3</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Service_Catalog_Request_Form__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Service_Catalog_Request_Form__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Lease Term Calc Update</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Lease Term Calc</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Lease_Term_Calc__c</field>
            <value>
                <elementReference>myVariable_current.Lease_Term__c</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Catalog_Request_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Service_Catalog_Request_Form__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_2_A1</name>
        <label>Clear Lease Term Calc</label>
        <locationX>200</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Lease Term Calc</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Lease_Term_Calc__c</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <object>Service_Catalog_Request_Form__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service_Catalog_Request_Form__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Catalog_Request_Form__c</objectType>
    </variables>
</Flow>
